@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: inline-flex;
  animation: scroll 50s linear infinite;
}


@keyframes rotateZIn {
    from {
      transform: rotateX(90deg);
      opacity: 0;
    }
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .rotate-z-on-load {
    display: inline-block;
    animation: rotateZIn 0.5s ease-in ;
    /* animation-delay: 5s; */
  }
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }
  
  .dropdown-content.show {
    /* max-height: 700px; */
    max-height:min-content; 
  }
  
  .rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }